.MoviePage .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e")
}

.MovieCard {
    width: 300px;
    background-color: #333333;
    border-radius: 20px;
    margin: 10px;
    object-fit: cover;
}

.MovieCard img {
  height: 150px;
  object-fit: cover;
  object-position: bottom;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.MovieCardFooter {
  padding: 25px 20px;
}

.MoviesContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap:wrap ;
}

.bold {
  font-weight: 700;
}

.outline-none {
  outline: none !important;
}

.shadow-0 {
  box-shadow: none !important;
}